:root{
    --fake-white: #F6F7EE;
    --header-color: #F0FFFF;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fake-white);
}

header{
    display: flex;
    flex-direction: row;
    width: 84%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-color);
}

h1{
    
}