:root {
    --primary-color: #0F172A;
    --secondary-color: #1D4ED8;
    --footer-color: #020817;
    --text-highlight: #EA580C;
    --golden-orange: #F59E0B;
    --text-color: #E2E8F0;
    --footer-text-color: #475569;
}

html{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    z-index: 1;
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    padding: 0 2em;
    color: var(--text-highlight);
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--secondary-color) 1px solid;
    height: 12vh;
}

#title {
    display: flex;
    align-items: center;
}

#title img{
    width: 5.5rem;
    height: 4rem;
    margin-right: 2em;
}

h1 {
    font-size: 2.4em;
    font-weight: 600;
}

nav {
    align-self: center;
}

nav li {
    display: inline;
    list-style-type: none;
    margin: 1em;
}

nav a {
    color: var(--text-color);
    text-align: center;
    font-weight: 550;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--footer-text-color);
    border-radius: 6px;
}

main {
    background-color: var(--primary-color);
}

.hero{
    height: 88vh;
    position: relative;
    color: var(--text-color);
    font-family: 'Dancing Script', cursive, sans-serif;
}

h2 {
    font-size: 5rem;
    font-weight: 700;
    color: var(--text-color);
}

.hero-text{
    position: absolute;
    top: 1rem;
    left: 5vw;
}

.highlight {
    color: var(--text-highlight);
}

.hero img{
    position: absolute;
    right: 5vw;
    top: 8rem;
    width: 30rem;
    max-width: 33%;
    border: var(--golden-orange) 4px solid;
    border-radius: 1rem;
}

.hero p{
    position: absolute;
    font-size: 1.8rem;
    left: 3rem;
    top: 20rem;
    max-width: 50%;
}

button{
    position: absolute;
    left: 20rem;
    top: 30rem;
    padding: 1em 2em;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
    border-radius: .5rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--footer-text-color);
    color: var(--text-color);
    padding: 1.2em 2.2em;
    top: 29.8rem;
    left: 19.8rem;
    transition: left 0.2s ease, top 0.2s ease, padding 0.2s ease, background-color 0.2s ease;
}

h3 {
    font-size: 2rem;
    margin: 0 3rem;
    font-weight: 500;
    font-family: cursive;
    color: var(--golden-orange);
}

footer {
    background-color: var(--footer-color);
    border-top: var(--secondary-color) 1px solid;
    height: 12vh;
}