@media (max-width: 768px) {
    body, html {
        font-size: 14px;
    }
    
    header {
        flex-direction: column;
        height: auto;
        padding: 1em;
        border-bottom: var(--secondary-color) 1px solid;
    }

    #title {
        margin-bottom: 1em;
    }

    nav li {
        display: block;
        margin: 0.5em 0;
    }
}