:root {
    --primary-color: #FFC38B;
    --primary-hover: #E49F5D;
    --highlight-color: #8B609F;
    --footer-background: #6D3B84;
    --footer-text: #FFDCBA;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Playfair Display', Georgia, serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: 700;
    color: var(--primary-color);
}

header p {
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-color);
}

main {
    background-color: var(--primary-color);
}

footer {
}

#sign {
}