:root {
    --primary-color: #FFC38B;
    --secondary-color: #E49F5D;
    --highlight-color: #693B83;
    --text-color: #2C1810;
    --footer-background: #6D3B84;
    --footer-text: #FFDCBA;
    --sign-color: #AC8CBD;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Playfair Display', Georgia, serif;
}

h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary-color);
}

h2 {
    width: 100%;
    margin: 1.5rem;
    font-size: 2.5rem;
    color: var(--highlight-color);
}

h3 {
    margin: .5rem;
    font-size: 1.7rem;
    color: var(--highlight-color);
}

p {
    margin: 1.5rem 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: var(--text-color);
}

.highlight {
    color: var(--highlight-color);
}

small {
    font-size: .7rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header p {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--primary-color);
}

main {
    padding: 2rem;
    background-color: var(--primary-color);
}

#presentation {
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-color);
}

.text {
    margin-left: 1rem;
    width: 45%;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

aside img {
    width: 50%;
    border: 4px solid var(--highlight-color);
    border-radius: 2rem;
}

aside ul img {
    max-width: 1.5rem;
    border: none;
    border-radius: 0;
}

#presentation li {
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: .4rem;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}

#self {
    width: 45%;
    padding: 1rem;
}

#school {
    width: 50%;
}

#school li {
    font-size: 1.1rem;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--footer-background);
}

#top-footer {
    padding: 2rem;
    display: flex;
    justify-content: space-between
}

#top-footer img {
    width: 12rem;
}

footer h3 {
    margin: 0;
    padding-top: 2rem;
    color: var(--footer-text);
}

footer a {
    color: var(--secondary-color);
}

footer p{
    color: var(--footer-text);
    margin: 1rem 0 0 3rem;
}

#sign {
    margin: 2rem 0;
    font-size: .8rem;
    line-height: normal;
    align-self: center;
    text-align: center;
    color: var(--sign-color);
}